In [1]:
import pandas as pd
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt

In [2]:
BATTERY_PARTS = [
    '281700','282200','392020','392051','392119','392310', 
    '420212','721240','722230','722699','730120','730690', 
    '732619','732620','740822','740919','740921','741011', 
    '741220','741533','750522','750610','750620','760612', 
    '760719','790700','810590','831110','831120','831190', 
    '850110','850120','850590','850640','850660','850730', 
    '850780','853223','853340','854190','854370','854519', 
    '854720','860900','391910','391990','392069','731822', 
    '854449','391732','280430','290123','292390','281122', 
    '390230','853223','854720','760410','740990','853223', 
    '854720','760410','740990','282300','284210','740811', 
    '853630','382499','761699','830249','854411','848049', 
    '850790','732690','280440','854290','731816','830230', 
    '392099','401699','730711','741999','850680','853222', 
    '390210','382490','854442','282110','853890','853610', 
    '850450','732599','392690','730890','731100','853641'
]

BATTERY = '850760'

# Get Top Suppliers of Battery

In [91]:
index = pd.read_csv("s3://supply-web-data-storage/CSV/index_hs6.csv")

In [92]:
# Check for missing values
index[index['hs6'] == BATTERY].isna().sum()

supplier_t      0
supplier_id     0
buyer_t         1
buyer_id        1
hs6             0
st              0
et              0
bill_count      0
quantity_sum    0
weight_sum      0
amount_sum      0
dtype: int64

In [117]:
def generate_battery_suppliers(index, method_name=None, count=10, df_print=False):   
    if method_name is not None:
        top_suppliers_df = index[index['hs6'] == BATTERY].groupby('supplier_t').agg(
                               indicator_value=(method_name, 'sum')
                           ).sort_values(
                               ["indicator_value"], ascending = False
                           )
    else:
        raise ValueError('Must specify a method for defining largest supplier.')
    if df_print: 
        print(top_suppliers_df.head(count))
    top_suppliers = set(top_suppliers_df.head(count).index)
    assert len(top_suppliers) == count
    return top_suppliers

In [119]:
battery_suppliers = generate_top_suppliers(index, method_name="bill_count", df_print=True)
battery_suppliers

                                                 indicator_value
supplier_t
dell global b.v                                             6060
wistron corporation                                         3845
sevt                                                        2540
hp international sarl                                       2298
yiwu yihuang import export compan                            826
sehc                                                         689
samsung electronics vietnam thai nguyen co.,ltd              658
cong ty tnhh dien tu samsung hcmc ce complex                 631
verdant crest technology dmcc                                508
luxshare precision limited                                   437

{'cong ty tnhh dien tu samsung hcmc ce complex',
 'dell global b.v',
 'hp international sarl',
 'luxshare precision limited',
 'samsung electronics vietnam thai nguyen co.,ltd',
 'sehc',
 'sevt',
 'verdant crest technology dmcc',
 'wistron corporation',
 'yiwu yihuang import export compan'}

# BFS on a supplier

In [227]:
def construct_battery_subgraph(suppliers, tiers, as_nx=False, nx_kwargs=None):
    assert tiers >= 1
    bom_df = index[index['hs6'].isin(BATTERY_PARTS + [BATTERY])].copy()
    bom_df = bom_df.loc[:,['supplier_t','buyer_t','hs6', 'bill_count']]

    # Find suppliers by tier
    new_suppliers = set(suppliers)
    all_suppliers = set(suppliers) 
    all_suppliers_dict = dict.fromkeys(suppliers, 1) # maps supplier to tier 
    for t in range(2, tiers + 1):
        df = bom_df[bom_df['supplier_t'].isin(new_suppliers)].copy()
        new_suppliers  = set(df[df.buyer_t.str.len() > 0].buyer_t.unique())
        new_suppliers = new_suppliers - all_suppliers
        all_suppliers = all_suppliers.union(new_suppliers)
        all_suppliers_dict.update(dict.fromkeys(new_suppliers, t))
        
    subgraph_df = bom_df[bom_df['supplier_t'].isin(all_suppliers)].copy()
    assert all(subgraph_df.supplier_t.str.len() > 0)
    assert all(subgraph_df.buyer_t.str.len() > 0)
    subgraph_df["tier"] = subgraph_df.apply(
        lambda row: all_suppliers_dict[row.supplier_t], 
        axis=1
    )
    return subgraph_df.sort_values(['tier', 'supplier_t'], ascending = True)

In [232]:
for bat in battery_suppliers:
    print(bat, len(construct_battery_subgraph([bat], 5)))
construct_battery_subgraph(['dell global b.v'], 5)

sehc 764
cong ty tnhh dien tu samsung hcmc ce complex 808
wistron corporation 25
dell global b.v 46
hp international sarl 46
verdant crest technology dmcc 30
samsung electronics vietnam thai nguyen co.,ltd 27
luxshare precision limited 274
sevt 174
yiwu yihuang import export compan 2

,supplier_t,buyer_t,hs6,bill_count,tier
38190,dell global b.v,bordertrade management inc,850760,13,1
38191,dell global b.v,bridges worldwide pvt ltd,850760,1,1
38192,dell global b.v,dell international services india private limited,850760,5990,1
38193,dell global b.v,fao dell global b.v,850760,23,1
38194,dell global b.v,gie solomon,850760,3,1
38196,dell global b.v,intel technology india private limited,761699,2,1
38199,dell global b.v,intel technology india private limited,850440,1,1
38201,dell global b.v,intel technology india private limited,854442,2,1
38203,dell global b.v,petroleum general distribution services joint ...,850760,1,1
38204,dell global b.v,vietnam post,850760,1,1
38205,dell global b.v,vstecs phils. inc,850760,16,1
38210,dell global b.v,wipro ge healthcare pvt. ltd,854442,2,1
38213,dell global b.v,ych-protrade company limited,850760,12,1
76938,intel technology india private limited,compal electronics inc,850440,4,2
76939,intel technology india private limited,compal electronics inc,854442,1,2
76940,intel technology india private limited,"compal electronics, inc",761699,2,2
76944,intel technology india private limited,wistron corporation,732690,2,2
18322,compal electronics inc,hp india sales private limited,401699,7,3
18327,compal electronics inc,hp india sales private limited,850760,5,3
18330,compal electronics inc,hp india sales private limited,854442,2,3
18331,"compal electronics, inc","compal vietnam co.,ltd",850760,6,3
153955,wistron corporation,hp india sales private limited,382499,2,3
153958,wistron corporation,hp india sales private limited,392119,3,3
153962,wistron corporation,hp india sales private limited,392690,533,3
153966,wistron corporation,hp india sales private limited,401699,586,3
153967,wistron corporation,hp india sales private limited,420212,14,3
153977,wistron corporation,hp india sales private limited,732690,10,3
153980,wistron corporation,hp india sales private limited,830230,2,3
153982,wistron corporation,hp india sales private limited,830249,55,3
153998,wistron corporation,hp india sales private limited,850440,2921,3
153999,wistron corporation,hp india sales private limited,850590,3,3
154000,wistron corporation,hp india sales private limited,850650,23,3
154001,wistron corporation,hp india sales private limited,850760,3845,3
154002,wistron corporation,hp india sales private limited,850780,2,3
154011,wistron corporation,hp india sales private limited,851830,85,3
154012,wistron corporation,hp india sales private limited,851890,1,3
154030,wistron corporation,hp india sales private limited,854370,23,3
154033,wistron corporation,hp india sales private limited,854442,13463,3
154047,wistron corporation,"lenovo centro tecnologico, s. de r.l. de c.v",392690,2,3
154057,wistron corporation,nvidia graphics private limited,854370,8,3
154059,wistron corporation,r-logic technology services india private limite,392690,1,3
154062,wistron corporation,r-logic technology services india private limite,853222,2,3
154073,wistron corporation,r-logic technology services india private limited,392099,3,3
154074,wistron corporation,r-logic technology services india private limited,392690,1,3
154078,wistron corporation,r-logic technology services india private limited,850450,1,3
70040,hp india sales private limited,inventec chongqing corp,854442,3,4

# Analysis

In [ ]:
# Q1: as tier increases, when does the graph die? (trend: tier vs num_new_row)

In [ ]:
# Q2: 'hs6' vs tier as tree depth mean (TODO). If BOM correct, the empirical plot should be consistent

In [ ]:
# Q3: compare and contrast different suppliers